{% extends "layouts/master.html" %}

{% block title %}Page not Found{% endblock %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <p>We could not find that page.</p>
    </div>
</div>
{% endblock %}