{% extends "layouts/master.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <p>Lets get building!</p>
    </div>
</div>

{% endblock %}