@font-face {
    font-family: 'GothamLight';
    src: url('fonts/gotham-light-webfont.eot');
    src: url('fonts/gotham-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gotham-light-webfont.woff') format('woff'),
         url('fonts/gotham-light-webfont.ttf') format('truetype'),
         url('fonts/gotham-light-webfont.svg#GothamLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamBook';
    src: url('fonts/gotham-book-webfont.eot');
    src: url('fonts/gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gotham-book-webfont.woff') format('woff'),
         url('fonts/gotham-book-webfont.ttf') format('truetype'),
         url('fonts/gotham-book-webfont.svg#GothamBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamBold';
    src: url('fonts/gotham-bold-webfont.eot');
    src: url('fonts/gotham-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gotham-bold-webfont.woff') format('woff'),
         url('fonts/gotham-bold-webfont.ttf') format('truetype'),
         url('fonts/gotham-bold-webfont.svg#GothamBold') format('svg');
    font-weight: normal;
    font-style: normal;
}


body{
    font-family: 'GothamLight', sans-serif;
    font-size-adjust:0.52; 
    font-weight:200; 
    font-style:normal;
    font-size: 18px;
    color: #111111;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'GothamLight', sans-serif;
    color: #111111;
}

h2{
    font-size: 42px;

    color:#fff;
}

h2 span{
    font-size:21px;
    font-family: 'GothamLight', sans-serif;

}

p {
    font-family: 'GothamBook', sans-serif;
}

label{
    font-family: 'GothamBook', sans-serif;
}

input{

}

strong{
    font-family: 'GothamBold', sans-serif;
    font-weight: normal !important;
}

a{
    color: #5EB4C5;
    text-decoration: none;
}

ul{
    font-family: 'GothamLight', sans-serif;
    font-size:14px;
}

a:hover{
    text-decoration: underline;
}

.input, .button{
    font-family: 'GothamLight', sans-serif;
    font-size-adjust:0.52; 
    font-weight:400; 
    font-style:normal;
    font-size: 16px;
}

.button:hover{
    text-decoration: none;
}