<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width"/>
    <title>Aperture Framework Boilerplate - {% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    <link rel="stylesheet" href="{{ _app.url }}assets/css/foundation.css" />
    <link rel="stylesheet" href="{{ _app.url }}assets/css/type.css" />
    <link rel="stylesheet" href="{{ _app.url }}assets/css/style.css" />
    
    <script type="text/javascript" src="{{ _app.url }}assets/js/vendor/jquery.js"></script>
    <script type="text/javascript" src="{{ _app.url }}assets/js/foundation.min.js"></script>
    <script type="text/javascript" src="{{ _app.url }}assets/js/vendor/modernizr.js"></script>
    <script type="text/javascript" src="{{ _app.url }}assets/js/vendor/hammer.min.js"></script>


</head>

<body>
    <section id="header" class="row">
        <div class="large-12 columns">
            <h1>Aperture Framework Boilerplate</h1>
        </div>
    </section>
    <section id="content">
    {% block content %}{% endblock %}
    </section>
    
    <script type="text/javascript" src="{{ _app.url }}assets/js/main.js"></script>
</body>
</html>